*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(228, 169, 179);
    
}
#nav{
    height: 70px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav img{
    height: 60%;
    object-fit: cover;
    padding-left: 40px;
    padding-top: 2px;
}
#nav h1{
    color: rgb(146, 5, 5);
    font-size: 22px;
    position: absolute;
    left: 80px;
}
#left{
    
    margin-left: -80px;
    height: 70px;
    width: 500px;
    
    display: flex;
    align-items: center;
    gap: 15px;
}
#left h3{
    text-decoration: none;
    color: black;
    font-size: 18px;
    
    
}
#right{
    height: 70px;
    width: 500px;
    
    display: flex;
    align-items: center;
    gap: 20px;
}
#right h3{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
#one{
    position: relative;
    margin-left: 20px;
    height: 40px;
    width: 90px;
    background-color: red;
    border: 1px solid;
    border-radius: 20px;
    
}
#two{
    position: relative;
    height: 40px;
    width: 90px;
    background-color: rgb(243, 234, 234);
    border: 1px solid;
    border-radius: 20px;
}
#one h5{
    font-size: 18px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#two h5{
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
}
#pick{
    height: 88%;
    width: 45%;
    
    position: relative;
}
#pic1{
    
    position: relative;
    
    
}
#pic1 img{
    height: 200px;
    width: 150px;
    object-fit: cover;
    position: absolute;
    left: 76%;
    
    
}
#pic2{
    height: 200px;
    width: 150px;
    position: relative;
}
#pic2 img{
    height: 200px;
    width: 150px;
    object-fit: cover;
    position: absolute;
    top: 168%;
    left: 310%;
}
#pic3{
    height: 250px;
    width: 200px;
    position: relative;
}
#pic3 img{
    height: 250px;
    width: 200px;
    object-fit: cover;
    position: absolute;
    left: 46%;
    top: -30%;
}
#pic4{
    position: relative;
}
#pic4 img{
    height: 500px;
    width: 300px;
    object-fit: cover;
    position: absolute;
    top: -430px;
    left: 35%;
}
#box{
    height: 80px;
    width: 300px;
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
    position: absolute;
    left: 28%;
    top: 35%;
    display: flex;
    align-items: center;
    gap: 10px;
}
#box h3{
    font-size: 20px;
    font-weight: 600;
    color: rgb(75, 4, 4);
}
#box i{
    padding-left: 20px;
    font-size: 20px;
    font-weight: 800;
}
#text{
    height: 88%;
    width: 45%;
    
    position: absolute;
    left: 55%;
    top: 12%;

}
#text h1{
    font-size: 60px;
    font-weight: 800;
    color: rgb(110, 3, 3);
    padding-top: 95px;
    padding-left: 10px;
}
#text h3{
    width: 450px;
    font-size: 20px;
    padding-left: 65px;
    padding-top: 30px;
    line-height: 25px;
    word-spacing: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(143, 7, 7);
}
#vij{
    height: 40px;
    width: 150px;
    border: 1px solid red;
    border-radius: 20px;
    background-color: rgb(233, 19, 19);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 170px;
    margin-top: 50px;
}
#vij h5{
    font-size: 18px;
    color: white;
}
